{% load static %}
{% load string_extras %}
<!doctype html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)]><!-->
<html lang="en" class="no-js">
  <head>
    <!-- Basic need -->
    <title>Block Buster</title>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="profile" href="#" />

    <!--Google Font-->
    <link
      rel="stylesheet"
      href="http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600"
    />
    <!-- Mobile specific meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone-no" />

    <!-- CSS files -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <!--preloading-->
    <div id="preloader">
      <img
        class="logo"
        src="{% static 'images/logo1.png' %}"
        alt=""
        width="119"
        height="58"
      />
      <div id="status">
        <span></span>
        <span></span>
      </div>
    </div>
    <!--end of preloading-->
    <!--login form popup-->
    <div class="login-wrapper" id="login-content">
      <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Login</h3>
        <form method="post" action="#">
          <div class="row">
            <label for="username">
              Username:
              <input
                type="text"
                name="username"
                id="username"
                placeholder="Hugh Jackman"
                pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$"
                required="required"
              />
            </label>
          </div>

          <div class="row">
            <label for="password">
              Password:
              <input
                type="password"
                name="password"
                id="password"
                placeholder="******"
                pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                required="required"
              />
            </label>
          </div>
          <div class="row">
            <div class="remember">
              <div>
                <input
                  type="checkbox"
                  name="remember"
                  value="Remember me"
                /><span>Remember me</span>
              </div>
              <a href="#">Forget password ?</a>
            </div>
          </div>
          <div class="row">
            <button type="submit">Login</button>
          </div>
        </form>
        <div class="row">
          <p>Or via social</p>
          <div class="social-btn-2">
            <a class="fb" href="#"
              ><i class="ion-social-facebook"></i>Facebook</a
            >
            <a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
          </div>
        </div>
      </div>
    </div>
    <!--end of login form popup-->
    <!--signup form popup-->
    <div class="login-wrapper" id="signup-content">
      <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>sign up</h3>
        <form method="post" action="#">
          <div class="row">
            <label for="username-2">
              Username:
              <input
                type="text"
                name="username"
                id="username-2"
                placeholder="Hugh Jackman"
                pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$"
                required="required"
              />
            </label>
          </div>

          <div class="row">
            <label for="email-2">
              your email:
              <input
                type="password"
                name="email"
                id="email-2"
                placeholder=""
                pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                required="required"
              />
            </label>
          </div>
          <div class="row">
            <label for="password-2">
              Password:
              <input
                type="password"
                name="password"
                id="password-2"
                placeholder=""
                pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                required="required"
              />
            </label>
          </div>
          <div class="row">
            <label for="repassword-2">
              re-type Password:
              <input
                type="password"
                name="password"
                id="repassword-2"
                placeholder=""
                pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                required="required"
              />
            </label>
          </div>
          <div class="row">
            <button type="submit">sign up</button>
          </div>
        </form>
      </div>
    </div>
    <!--end of signup form popup-->

    <!-- BEGIN | Header -->
    <header class="ht-header">
      <div class="container">
        <nav class="navbar navbar-default navbar-custom">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header logo">
            <div
              class="navbar-toggle"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
            >
              <span class="sr-only">Toggle navigation</span>
              <div id="nav-icon1">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <a href="#"
              ><img
                class="logo"
                src="{% static 'images/logo1.png' %}"
                alt=""
                width="119"
                height="58"
            /></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div
            class="collapse navbar-collapse flex-parent"
            id="bs-example-navbar-collapse-1"
          >
            <ul class="nav navbar-nav flex-child-menu menu-left">
              <li class="hidden">
                <a href="#page-top"></a>
              </li>
              <li class="dropdown first">
                <a
                  class="btn btn-default dropdown-toggle lv1"
                  data-toggle="dropdown"
                >
                  Home <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu level1">
                  <li><a href="index-2.html">Home 01</a></li>
                  <li><a href="homev2.html">Home 02</a></li>
                  <li><a href="homev3.html">Home 03</a></li>
                </ul>
              </li>
              <li class="dropdown first">
                <a
                  class="btn btn-default dropdown-toggle lv1"
                  data-toggle="dropdown"
                  data-hover="dropdown"
                >
                  movies<i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu level1">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                      >Movie grid<i class="ion-ios-arrow-forward"></i
                    ></a>
                    <ul class="dropdown-menu level2">
                      <li><a href="moviegrid.html">Movie grid</a></li>
                      <li>
                        <a href="moviegridfw.html">movie grid full width</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="movielist.html">Movie list</a></li>
                  <li><a href="{% url 'movie_single' %}">Movie single</a></li>
                  <li class="it-last">
                    <a href="seriessingle.html">Series single</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown first">
                <a
                  class="btn btn-default dropdown-toggle lv1"
                  data-toggle="dropdown"
                  data-hover="dropdown"
                >
                  celebrities
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu level1">
                  <li><a href="celebritygrid01.html">celebrity grid 01</a></li>
                  <li><a href="celebritygrid02.html">celebrity grid 02 </a></li>
                  <li><a href="celebritylist.html">celebrity list</a></li>
                  <li class="it-last">
                    <a href="celebritysingle.html">celebrity single</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown first">
                <a
                  class="btn btn-default dropdown-toggle lv1"
                  data-toggle="dropdown"
                  data-hover="dropdown"
                >
                  news <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu level1">
                  <li><a href="bloglist.html">blog List</a></li>
                  <li><a href="bloggrid.html">blog Grid</a></li>
                  <li class="it-last">
                    <a href="blogdetail.html">blog Detail</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown first">
                <a
                  class="btn btn-default dropdown-toggle lv1"
                  data-toggle="dropdown"
                  data-hover="dropdown"
                >
                  community <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu level1">
                  <li>
                    <a href="userfavoritegrid.html">user favorite grid</a>
                  </li>
                  <li>
                    <a href="userfavoritelist.html">user favorite list</a>
                  </li>
                  <li><a href="userprofile.html">user profile</a></li>
                  <li class="it-last"><a href="userrate.html">user rate</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav flex-child-menu menu-right">
              <li class="dropdown first">
                <a
                  class="btn btn-default dropdown-toggle lv1"
                  data-toggle="dropdown"
                  data-hover="dropdown"
                >
                  pages <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu level1">
                  <li><a href="landing.html">Landing</a></li>
                  <li><a href="404.html">404 Page</a></li>
                  <li class="it-last">
                    <a href="comingsoon.html">Coming soon</a>
                  </li>
                </ul>
              </li>
              <li><a href="#">Help</a></li>
              <li class="loginLink"><a href="#">LOG In</a></li>
              <li class="btn signupLink"><a href="#">sign up</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </nav>
      </div>
    </header>
    <!-- END | Header -->

    <div class="slider movie-items">
      <div class="container">
        <div class="row">
          <div class="social-link">
            <p>Follow us:</p>
            <!-- DB -->
            {% for link in social_links %}
            <a href="{{ link.url }}" class="{{ link.anchor_class }}"
              ><i class="{{ link.icon_class }}"></i
            ></a>
            {% endfor %}
          </div>
          <div class="slick-multiItemSlider">
            <!--  DB  -->
            {% for movieItem in slider %}
            <div class="movie-item">
              <div class="mv-img">
                <a href="{{ movieItem.anchor_url }}">
                  <img
                    src="{% static movieItem.image_src %}"
                    alt=""
                    width="{{ movieItem.image_width }}"
                    height="{{ movieItem.image_height }}"
                  />
                </a>
              </div>
              <div class="title-in">
                <div class="cate">
                  {% for genre in movieItem.movie_genre|lower|split:", " %}
                  {% if genre == "sci-fi" %}
                  <span class="blue"><a href="#">{{ genre }}</a></span>
                  {% elif genre == "action" %}
                  <span class="yell"><a href="#">{{ genre }}</a></span>
                  {% elif genre == "comedy" %}
                  <span class="green"><a href="#">{{ genre }}</a></span>
                  {% elif genre == "adventure" %}
                  <span class="orange"><a href="#">{{ genre }}</a></span>
                  {% endif %} {% endfor %}
                </div>
                <h6>
                  <a href="{{ movieItem.anchor_url }}"
                    >{{ movieItem.movie_title }}</a
                  >
                </h6>
                <p>
                  <i class="ion-android-star"></i><span>{{ movieItem.lower_rating }}</span> /{{ movieItem.upper_rating }}
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="movie-items">
      <div class="container">
        <div class="row ipad-width">
          <div class="col-md-8">
            <div class="title-hd">
              <h2>in theater</h2>
              <a href="#" class="viewall"
                >View all <i class="ion-ios-arrow-right"></i
              ></a>
            </div>
            <div class="tabs">
              <ul class="tab-links">
                <li class="active"><a href="#tab1">#Popular</a></li>
                <li><a href="#tab2"> #Coming soon</a></li>
              </ul>
              <div class="tab-content">
                <div id="tab1" class="tab active">
                  <div class="row">
                    <div class="slick-multiItem">
                      <!--  DB  -->
                      {% for movieItem in movietv_popular %}
                      <div class="slide-it">
                        <div class="movie-item">
                          <div class="mv-img">
                            <img
                              src="{% static movieItem.img_src %}"
                              alt=""
                              width="{{ movieItem.img_width }}"
                              height="{{ movieItem.img_height }}"
                            />
                          </div>
                          <div class="hvr-inner">
                            <a href="{% url 'movie_single' %}">
                              Read more
                              <i class="ion-android-arrow-dropright"></i>
                            </a>
                          </div>
                          <div class="title-in">
                            <h6>
                              <a href="{{ movieItem.anchor_url}}"
                                >{{ movieItem.movie_title }}</a
                              >
                            </h6>
                            <p>
                              <i class="ion-android-star"></i><span>{{ movieItem.lower_rating }}</span> /{{ movieItem.upper_rating }}
                            </p>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div id="tab2" class="tab">
                  <div class="row">
                    <div class="slick-multiItem">
                      <!--  DB  -->
                      {% for movieItem in movietv_comingsoon %}
                      <div class="slide-it">
                        <div class="movie-item">
                          <div class="mv-img">
                            <img
                              src="{% static movieItem.img_src %}"
                              alt=""
                              width="{{ movieItem.img_width }}"
                              height="{{ movieItem.img_height }}"
                            />
                          </div>
                          <div class="hvr-inner">
                            <a href="{% url 'movie_single' %}">
                              Read more
                              <i class="ion-android-arrow-dropright"></i>
                            </a>
                          </div>
                          <div class="title-in">
                            <h6>
                              <a href="{{ movieItem.anchor_url}}"
                                >{{ movieItem.movie_title }}</a
                              >
                            </h6>
                            <p>
                              <i class="ion-android-star"></i><span>{{ movieItem.lower_rating }}</span> /{{ movieItem.upper_rating }}
                            </p>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="title-hd">
              <h2>on tv</h2>
              <a href="#" class="viewall"
                >View all <i class="ion-ios-arrow-right"></i
              ></a>
            </div>
            <div class="tabs">
              <ul class="tab-links-2">
                <li><a href="#tab21">#Popular</a></li>
                <li class="active"><a href="#tab22"> #Coming soon</a></li>
              </ul>
              <div class="tab-content">
                <div id="tab21" class="tab">
                  <div class="row">
                    <div class="slick-multiItem">
                      <!--  DB  -->
                      {% for popular in popular_tv %}
                      <div class="slide-it">
                        <div class="movie-item">
                          <div class="mv-img">
                            <img
                              src="{% static popular.img_src %}"
                              alt=""
                              width="{{popular.img_width}}"
                              height="{{popular.img_height}}"
                            />
                          </div>
                          <div class="hvr-inner">
                            <a href="{% url 'movie_single' %}">
                              Read more
                              <i class="ion-android-arrow-dropright"></i>
                            </a>
                          </div>
                          <div class="title-in">
                            <h6><a href="#">{{popular.movie_title}}</a></h6>
                            <p>
                              <i class="ion-android-star"></i
                              ><span>{{popular.lower_rating}}</span> /
                              {{popular.upper_rating}}
                            </p>
                          </div>
                        </div>
                      </div>

                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div id="tab22" class="tab active">
                  <div class="row">
                    <div class="slick-multiItem">
                      <!--  DB  -->
                      {% for tv in coming_soon_tv %}
                      <div class="slide-it">
                        <div class="movie-item">
                          <div class="mv-img">
                            <img
                              src="{% static tv.img_src %}"
                              alt=""
                              width="{{tv.img_width}}"
                              height="{{tv.img_height}}"
                            />
                          </div>
                          <div class="hvr-inner">
                            <a href="{% url 'movie_single' %}">
                              Read more
                              <i class="ion-android-arrow-dropright"></i>
                            </a>
                          </div>
                          <div class="title-in">
                            <h6><a href="#">{{tv.movie_title}}</a></h6>
                            <p>
                              <i class="ion-android-star"></i
                              ><span>{{tv.lower_rating}}</span> /
                              {{tv.upper_rating}}
                            </p>
                          </div>
                        </div>
                      </div>

                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="sidebar">
              <div class="ads">
                <!-- DB -->
                {% if sidebar_ad %}
                <img
                  src="{% static sidebar_ad.img_src %}"
                  alt="This is an ad"
                  width="{{ sidebar_ad.img_width }}"
                  height="{{ sidebar_ad.img_height }}"
                />
                {% endif %}
              </div>

              <div class="celebrities">
                <h4 class="sb-title">Spotlight Celebrities</h4>
                <!-- DB -->
                {% for celebrity in celebrities %}
                <div class="celeb-item">
                  <a href="{{ celebrity.anchor_url }}">
                    <img
                      src="{% static celebrity.celebrity_url %}"
                      alt="{{ celebrity.celebrity_name }}"
                      width="{{ celebrity.img_width }}"
                      height="{{ celebrity.img_height }}"
                    />
                  </a>
                  <div class="celeb-author">
                    <h6>
                      <a href="{{ celebrity.anchor_url }}"
                        >{{ celebrity.celebrity_name }}</a
                      >
                    </h6>
                    <span>{{ celebrity.celebrity_type }}</span>
                  </div>
                </div>
                {% endfor %}
                <a href="#" class="btn"
                  >See all celebrities<i class="ion-ios-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="trailers">
      <div class="container">
        <div class="row ipad-width">
          <div class="col-md-12">
            <div class="title-hd">
              <h2>in theater</h2>
              <a href="#" class="viewall"
                >View all <i class="ion-ios-arrow-right"></i
              ></a>
            </div>
            <div class="videos">
              <div class="slider-for-2 video-ft">
                <!-- DB -->
                {% if trailer %}
                <div>
                  <iframe
                    src=""
                    class="item-video"
                    data-src="{{ trailer.trailer_URL }}"
                    referrerpolicy="strict-origin-when-cross-origin"
                  ></iframe>
                </div>
                {% endif %}
              </div>
              <div class="slider-nav-2 thumb-ft">
                <!-- DB -->
                {% for item in trailer_items %}
                <div class="item">
                  <div class="trailer-img">
                    <img
                      src="{% static item.img_src %}"
                      alt="{{ item.img_alt}}"
                      width="{{ item.img_width }}"
                      height="{{ item.img_height }}"
                    />
                  </div>
                  <div class="trailer-infor">
                    <h4 class="desc">{{ item.description}}</h4>
                    <p>{{ item.duration }}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- latest new v1 section-->
    <div class="latestnew">
      <div class="container">
        <div class="row ipad-width">
          <div class="col-md-8">
            <div class="ads">
              <!-- DB -->
              {% if news_banner_ad %}
              <img
                src="{% static news_banner_ad.img_src %}"
                alt=""
                width="{{ news_banner_ad.img_width }}"
                height="{{ news_banner_ad.img_height }}"
              />
              {% endif %}
            </div>
            <div class="title-hd">
              <h2>Latest news</h2>
            </div>
            <div class="tabs">
              <div class="tab-content">
                <div id="tab31" class="tab active">
                  <div class="row">
                    <div class="blog-item-style-1">
                      <!-- DB -->
                      {% if featured_news %}
                      <img
                        src="{% static featured_news.img_src %}"
                        alt="{{ featured_news.img_alt }}"
                        style="width: {{ featured_news.img_width }}px; height: {{ featured_news.img_height }}px;"
                      />
                      <div class="blog-it-infor">
                        <!-- DB -->
                        <h3>
                          <a href="#">{{featured_news.title}}</a>
                        </h3>
                        <span class="time">{{featured_news.time}}</span>
                        <p>{{featured_news.content}}</p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="morenew">
              <div class="title-hd">
                <h3>More news on Blockbuster</h3>
                <a href="#" class="viewall"
                  >See all Movies news<i class="ion-ios-arrow-right"></i
                ></a>
              </div>
              <div class="more-items">
                <div class="left">
                  <!-- DB -->
                  {% for news in more_news|slice:":1" %}
                  <div class="more-it">
                    <h6>
                      <a href="#">{{ news.title }}</a>
                    </h6>
                    <span class="time">{{ news.time }}</span>
                  </div>
                  {% endfor %}
                </div>

                <div class="right">
                  <!-- DB -->
                  {% for news in more_news|slice:"1:2" %}
                  <div class="more-it">
                    <h6>
                      <a href="#">{{ news.title }}</a>
                    </h6>
                    <span class="time">{{ news.time }}</span>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="sidebar">
              <div class="sb-twitter sb-it">
                <h4 class="sb-title">Tweet to us</h4>
                <div class="slick-tw">
                  <!--  DB  -->
                  {% for tweet in tweets %}
                  <div class="tweet item" id="">
                    <!-- Put your twiter id here -->
                    {{tweet.content}}
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end of latest new v1 section-->
    <!-- footer section-->
    <footer class="ht-footer">
      <div class="container">
        <div class="flex-parent-ft">
          <div class="flex-child-ft item1">
            <a href="index-2.html"
              ><img class="logo" src="images/logo1.png" alt=""
            /></a>
            <p>
              5th Avenue st, manhattan<br />
              New York, NY 10001
            </p>
            <p>Call us: <a href="#">(+01) 202 342 6789</a></p>
          </div>
          <div class="flex-child-ft item2">
            <h4>Resources</h4>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Blockbuster</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Forums</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Help Center</a></li>
            </ul>
          </div>
          <div class="flex-child-ft item3">
            <h4>Legal</h4>
            <ul>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Security</a></li>
            </ul>
          </div>
          <div class="flex-child-ft item4">
            <h4>Account</h4>
            <ul>
              <li><a href="#">My Account</a></li>
              <li><a href="#">Watchlist</a></li>
              <li><a href="#">Collections</a></li>
              <li><a href="#">User Guide</a></li>
            </ul>
          </div>
          <div class="flex-child-ft item5">
            <h4>Newsletter</h4>
            <p>
              Subscribe to our newsletter system now <br />
              to get latest news from us.
            </p>
            <form
              id="newsletter-form"
              method="post"
              action="{% url 'newsletter' %}"
            >
              {% csrf_token %}
              <input
                type="email"
                name="email"
                placeholder="Enter your email..."
              />
            </form>
            <a
              href="#"
              class="btn"
              onclick="
                document.getElementById('newsletter-form').submit();
                return false;
              "
            >
              Subscribe now <i class="ion-ios-arrow-forward"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="ft-copyright">
        <div class="ft-left">
          <p>
            <a target="_blank" href="https://www.templateshub.net"
              >Templates Hub</a
            >
          </p>
        </div>
        <div class="backtotop">
          <p>
            <a href="#" id="back-to-top"
              >Back to top <i class="ion-ios-arrow-thin-up"></i
            ></a>
          </p>
        </div>
      </div>
    </footer>
    <!-- end of footer section-->

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/plugins2.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>
